body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#taskInput {
    width: 10vw;
    height: 4vh;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    border-radius: 500px;
    letter-spacing: 2px;
    min-width: 100px;
    padding: 16px 14px 18px;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    transition-property: background-color, border-color, color, box-shadow, filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    min-width: 160px;
    text-transform: uppercase;
    white-space: normal;
    font-weight: 700;
    text-align: center;
    padding: 16px 14px 18px;
    color: #fff;
    background-color: #15883e;
    height: 48px;
    margin: 10px 10px 10px 10px;
}

#taskList {

    font-size: xx-large;
    margin-left: 3vw;

}